In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/penguins.csv')

df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [11]:
df.groupby(['species', 'island', 'sex'])['sex'].count()

species    island     sex
Adelie     Biscoe     FEMALE    22
                      MALE      22
           Dream      FEMALE    27
                      MALE      28
           Torgersen  FEMALE    24
                      MALE      23
Chinstrap  Dream      FEMALE    34
                      MALE      34
Gentoo     Biscoe     .          1
                      FEMALE    58
                      MALE      61
Name: sex, dtype: int64

In [6]:
df['sex'].value_counts(normalize=True)*100

sex
MALE      50.299401
FEMALE    49.401198
.          0.299401
Name: proportion, dtype: float64